@{
    Layout = "_AdminLayout";
}

<div class="main_content_iner ">
<div class="container-fluid plr_30 body_white_bg pt_30">
<div class="row justify-content-center">
<div class="col-lg-12">
<div class="single_element">
<div class="quick_activity">
<div class="row">
<div class="col-12">
<div class="quick_activity_wrap">
<div class="single_quick_activity">
<h4>Total Hotel</h4>
<h3> <span class="counter">@ViewBag.TotalCount</span> </h3>
</div>
<div class="single_quick_activity">
<h4>Total Travel</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount1</span> </h3>

</div>
<div class="single_quick_activity">
                                        <h4>Total Restuarant</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount2</span> </h3>

</div>
                                    <div class="single_quick_activity">
                                        <h4>Total Resort</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount3</span> </h3>
                                    </div>
                                    <div class="single_quick_activity">
                                        <h4>Total TouristSpot</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount4</span> </h3>
                                    </div>

                                    <div class="single_quick_activity">
                                        <h4>Total Package</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount5</span> </h3>
                                    </div>

                                    <div class="single_quick_activity">
                                        <h4>Total Users</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount6</span> </h3>
                                    </div>
                                 
                            
                                    <div class="single_quick_activity">
                                        <h4>Total Booking</h4>
                                        <h3> <span class="counter">@ViewBag.TotalCount7</span> </h3>

                                    </div>
</div>
</div>
</div>
</div>
</div>
</div>