@model IEnumerable<Karnel_Travels.Models.Hotel>

@foreach (var hotel in Model)
{
    <div class="col-md-4">
        <div class="project-wrap hotel" data-table="hotel" data-id="@hotel.HotelId">
            <a class="img">
                <img src="~/@hotel.HotelImage" class="img" alt="Hotel Image" />
                <span class="price">Rs @hotel.HotelPrice/person</span>
            </a>
            <div class="text p-4">
                <p class="star mb-2">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <h3><a>@hotel.HotelName</a></h3>
                <p class="location"><span class="fa fa-map-marker"></span> @hotel.HotelLocation</p>
                <ul>
                    <li><span class="flaticon-king-size"></span>@hotel.HotelRooms</li>              
                </ul>
            </div>
        </div>
    </div>
}