@model Karnel_Travels.Models.Hotel

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Detail <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Hotel</h1>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section">


    

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/@Model.HotelImage" class="img-fluid" alt="Hotel Image" />
            </div>
            <div class="col-md-6">
                <h2>@Model.HotelName</h2>
                <p class="location"><span class="fa fa-map-marker"></span> @Model.HotelLocation</p>
                <p class="price">$ @Model.HotelPrice/person</p>
                <p class="price"><span class="flaticon-king-size"></span> @Model.HotelRooms</p>
            </div>
                <p class="description" style="margin:1.5%;">@Model.HotelDescription</p>
        </div>
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form method="post">
                    <button type="submit" class="align-self-stretch form-control btn btn-primary p-0" asp-controller="Home" asp-action="Feedback" asp-route-id="@Model.HotelId">Book Now</button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</section>






